body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
  margin: 0;
  font-family: Arial, sans-serif;
}

button {
  
 
  height: 100px;
  width: 100px;
  margin: 6px;
 
  cursor: pointer;
  border-radius: 10px;
}

#one {
  background-color: #99d69b;
  color: #ffffff;
}
#zeroPointfive {
  background-color: #ece4ad;
  color: #ffffff;
}

#two {
  background-color: #f7b7a3;
  color: #ffffff;
}
#equals {
  background-color: #c55938;
  color: #ffffff;
}

#nums {
  background-color: cadetblue;
}
#blank {
  background-color: #000000;
  color: #ffffff;
}

.obrub {
  padding: 10px;
  
  
 
  border: 1px solid #000000;
 
}
